In [1]:
import pandas as pd

In [15]:
file = "PyPoll_data.csv"

pypoll_df = pd.read_csv(file)
pypoll_df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [16]:
votes_cast = pypoll_df["Voter ID"].count()
votes_cast

3521001

In [4]:
pypoll_df["Candidate"].unique()

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [5]:
counts = pypoll_df["Candidate"].value_counts()
counts

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [6]:
counts_df = pd.DataFrame(counts)
counts_df

          Candidate
Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630

In [10]:
counts_df["Percentage"] = (counts_df["Candidate"]/3521001)*100
div = "--------------------------------"
counts_df["Percentage"] = counts_df["Percentage"].astype(float).map("{:,.0f}%".format)
counts_df

          Candidate Percentage
Khan        2218231        63%
Correy       704200        20%
Li           492940        14%
O'Tooley     105630         3%

In [11]:
counts_df = counts_df.rename(columns={"Candidate": "Total Votes"})
counts_df

          Total Votes Percentage
Khan          2218231        63%
Correy         704200        20%
Li             492940        14%
O'Tooley       105630         3%

In [ ]:
print("Election Results")
print("div")
print(f"Total Votes: {votes}")
print("div")
print(counts_df)
print("div")
print("Winner: Khan")
print("div")

counts_df.to_csv("Election_Results.csv", index=True, header=True)